%h1 Configure Game:
.form-group
  = form_for @game do |f|
    .form-group
      = f.label :owner
      %br
      = @game.user.name
      = f.hidden_field :user_id, value: @game.user.id

    .form-group
      = f.label :name
      %br
      = f.text_field :name, value: "#{@game.user.name}'s game", class: "form-control"
    .form-group
      = f.label :deck
      %br
      = f.select :deck, @decks.collect {|deck| [deck.chomp(File.extname(deck)).capitalize, deck]}, class: "form-control"
    .form-group
      Private? (Invite only)
      %br
      = f.check_box :private
    .form-group
      = f.submit "Submit", class: "form-control"

