.path_card
  .card_corner
  .card_segment
    = card.up_icon_tag()
  .card_corner
  .card_segment
    = card.left_icon_tag()
  .card_segment
    .card_triad.card_name
      = card.name
    .card_triad
      - if card.locked
        .card_icon
          = image_tag('card/icon/lock32.png')
      - if card.push
        .card_icon
          = image_tag('card/icon/push32.png')
      - if card.inject
        .card_icon
          = image_tag('card/icon/inject32.png')
    .card_triad.card_description
      = card.description
  .card_segment
    = card.right_icon_tag()
  .card_corner
  .card_sement
    = card.down_icon_tag()
  .card_corner